@model IEnumerable<Diplom.Response.PositionResponse>

<h2>Список позиций</h2>
    @foreach (var profession in Model)
    {
        <table class="table">

            <tr><td>Название</td><td>Этаж</td><td>Координты</td></tr>
            @foreach (var item in Model)
            {
                <tr><td>@item.Name</td><td>@item.Floor</td><td>@item.CoordX</td><td>@item.CoordY</td></tr>
            }
        </table>
    }
<a asp-action="Create">Добавить роль</a>